/* Redaction — Titus Kaphar & Reginald Dwayne Betts; type: Jeremy Mickel (MCKL), CD: Forest Young.
   SIL Open Font License 1.1 (see OFL.txt). Commercial use permitted; do not sell the fonts.
   3 styles x 7 degradation grades ship in this folder; only the grades the UI
   actually references are declared here. Base "Redaction" is the site typeface;
   grades 20 + 35 are used sparingly + large (font-redaction20 / font-redaction35).
   Grades 10/50/70/100 are intentionally undeclared — re-add the @font-face block
   if a surface starts using one. (Perf: PERF_AUDIT_2026-06-06.md #4.) */

@font-face{
  font-family:"Redaction";
  font-weight:400; font-style:normal; font-display:swap;
  src:url("./Redaction-Regular.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction";
  font-weight:700; font-style:normal; font-display:swap;
  src:url("./Redaction-Bold.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction";
  font-weight:400; font-style:italic; font-display:swap;
  src:url("./Redaction-Italic.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction 20";
  font-weight:400; font-style:normal; font-display:swap;
  src:url("./Redaction_20-Regular.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction 20";
  font-weight:700; font-style:normal; font-display:swap;
  src:url("./Redaction_20-Bold.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction 20";
  font-weight:400; font-style:italic; font-display:swap;
  src:url("./Redaction_20-Italic.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction 35";
  font-weight:400; font-style:normal; font-display:swap;
  src:url("./Redaction_35-Regular.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction 35";
  font-weight:700; font-style:normal; font-display:swap;
  src:url("./Redaction_35-Bold.woff2") format("woff2");
}
@font-face{
  font-family:"Redaction 35";
  font-weight:400; font-style:italic; font-display:swap;
  src:url("./Redaction_35-Italic.woff2") format("woff2");
}
